/* <!-- Wellington Youth Tech Noticeboard -->
<!-- By Santoso Winatan -->
<!-- Date 6/07/2026 -->
<!-- This holds how the website should be displayed, like fonts, sizes, colours, and positions  */ 


/* always put background in a body class */
body {
  background-image: url("Noticeboard-topbar.png"),url("Noticeboard-Bottom.png"),url("Noticeboard-middle.png");
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: cover, cover, cover;  
  background-position: center top, left 0% bottom 2126% ,center;
}

/* FONTS */

/* this is how you set a custom font (i used calligraphr to turn the font into an otf file) */
@font-face { 
  font-family: "MyAmazingFont";
  src: url("SantosoFont-Regular.otf") format("opentype");
}

/* this is the basic font that will run on anything*/
p {
  color: #ae8396;
  text-align: center;
}

/* this is my font on top of the basic font*/
.my-font{
  font-family: "MyAmazingFont",serif;
  font-size: 30px;

}

/* this is my heading font*/
.myheadingfont{
  font-family: "MyAmazingFont",serif;
  font-size: 60px;
  font-weight: 1000;
   color: #012966;
}

/* this is my calendar font*/
.mycalendarfont{
  font-family: "MyAmazingFont",serif;
  font-size: 45px;
  font-weight: 1000;
   color: #720946;
}

/* this is my poster font*/
.myposterfont{
  font-family: "MyAmazingFont",serif;
  font-size: 30px;
  /* //font-weight: 1000; */
   color: #720946;
}

/* if you want to add another type of font just do .____font i think */

/* CONTAINERS */

/* this is the box that will be applied before every box*/
div {
  /* this should be thought about carefully though in the class you can overwrite it with a new colour/margin etc*/
  margin: 0 auto; /* centers the noticeboard horizontally */  
  background-color: #906CD7;
  border: 2px solid rgb(78, 5, 5);
  width: 900px; /* this is the width of the box */
  padding: 04px;/* this is the gap between the text/image and the border of the box*/
  /* the margin is the gap between the border and the site walls */
  /* it goes content->padding->border->margin */
  justify-content: start; /* this is the alignment of the text/image inside the box (so start places it at the start of the box) */
}

/* this is the box which allows the other boxes to be placed anywhere as they now have a reference to a set position here*/
.parent-noticeboardheadingbox{
  position: relative;
}

/* this is the box where the title of the noticeboard will be placed*/
.noticeboardheadingbox {
  position: absolute;
  left: 32%;
  top: 65px;
  background-image: url("Noticeboard-name.png");
  border: 0px solid #D563A4; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
  width: 800px;
  place-items: center;
  padding: 10px;
}

/* this is the box where the image of the calendar will be placed*/
.calendarbox {
  position: absolute;
  left: 10%;
  top: 240px;
  margin: 0 auto; /* centers the noticeboard horizontally */  
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  width: 480px;
  height: 720px;
  padding: 04px;
  justify-content: start; 
}

/* this is the box where the text for the calendar will be placed*/
.calendartextbox{
  position: absolute;
  left: 10%;
  top: 240px;
  
  margin: 0 auto; /* centers the noticeboard horizontally */  
  background-color: TRANSPARENT;
  border: 0px solid rgb(0, 0, 0);
  width: 480px;
  height: 720px;
  padding: 04px;
  justify-content: start; 
}

/* this is the box where the poster will be placed*/
.posterbox {
  position: absolute;
  left: 50%;
  top: 240px;
  margin: 0 auto; /* centers the noticeboard horizontally */  
  background-color: #ff7b00;
  border: 2px solid rgb(0, 0, 0);
  width: 240px;
  height: 360px;
  padding: 04px;
  justify-content: start; 
}

/* this is where the directions will be placed relative to the poster box */
.childofposterbox {
   position: relative; 
    height: 260px;
    width: 325px;
  /* //text-align: end; centers the text within the child div */
}

/* creates the image and allows game development opportunities  to be written on it*/
.gamedevnotepad { 
  position: absolute;
  left: 10%;
  top: 1000px;
  background-color: TRANSPARENT;
  border: 0px transparent; 
  background-image: url("Notepadsheet.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  height: 300px;
  width: 225px;
  padding: 0px;
  margin: 10px;
}

/* creates the image and allows web development opportunities to be written on it */
.webdevnotepad { 
  position: absolute;
  left: 35%;
  top: 1000px;
  background-color: TRANSPARENT;
  border: 0px transparent; 
  background-image: url("Notepadsheet.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  height: 300px;
  width: 225px;
  padding: 0px;
  margin: 10px;
}

/* Box for people and their contacts */
.aboutus{
  position: absolute;
  left: 60%;
  top: 1200px;
  /* background-color: TRANSPARENT;
  border: 0px transparent; 
  background-image: url("Notepadsheet.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */
  text-align: center;
  height: 300px;
  width: 450px;
  padding: 0px;
  margin: 10px;
}

/* Transparent box so that the bottom item doesnt overlap with noticeboard border and look janky
also contains a Capybara */
.transparentbox {
  position: absolute;
  left: 10%;
  top: 1500px;
  background-color: TRANSPARENT;
  border: 0px transparent; 
  text-align: center;
  height: 300px;
  width: 225px;
  padding: 0px;
  margin: 10px;
}

/* LINK STYLES */

 a:link { 
  color: #3ce2f8;
  text-decoration: underline; /* removes the underline from the link */
 }

 a:visited { 
  color: #012208;
  text-decoration: none; /* removes the underline from the link */
 }

 a:hover { 
  color: #485f8a;
  text-decoration: underline; /* adds an underline to the link on hover */
}